<!-- banner start  -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-center">
                <div class="banner-content">
                    <h2>product Gallery</h2>
                    <h3 class="d-flex justify-center">
                        <a href="index.html">Home </a>&nbsp;
                        <br>
                        <a> / &nbsp; product Gallery</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end  -->
<!-- our prodcts  -->
<section class="range">
    <div class="container">
        <div class="row justify-center">
            <div class="title col-7">
                <h2>Our product</h2>
                <p>Our Product – Premium doors crafted for durability, security, and style, perfect for any space.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="img-gallery-magnific">
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/01.jpg">
                    <img src="assets/images/01.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/02.jpg">
                    <img src="assets/images/02.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/03.jpg">
                    <img src="assets/images/03.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/04.jpg">
                    <img src="assets/images/04.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/05.jpg">
                    <img src="assets/images/05.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/06.jpg">
                    <img src="assets/images/06.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/07.jpg">
                    <img src="assets/images/07.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/08.jpg">
                    <img src="assets/images/08.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/09.jpg">
                    <img src="assets/images/09.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/10.jpg">
                    <img src="assets/images/10.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/11.jpg">
                    <img src="assets/images/11.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/12.jpg">
                    <img src="assets/images/12.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/13.jpg">
                    <img src="assets/images/13.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/14.jpg">
                    <img src="assets/images/14.jpg" />

                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/15.jpg">
                    <img src="assets/images/15.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/16.jpg">
                    <img src="assets/images/16.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/17.jpg">
                    <img src="assets/images/17.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/18.jpg">
                    <img src="assets/images/18.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/19.jpg">
                    <img src="assets/images/19.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/20.jpg">
                    <img src="assets/images/20.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/21.jpg">
                    <img src="assets/images/21.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/22.jpg">
                    <img src="assets/images/22.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/23.jpg">
                    <img src="assets/images/23.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/24.jpg">
                    <img src="assets/images/24.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/25.jpg">
                    <img src="assets/images/25.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/26.jpg">
                    <img src="assets/images/26.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/27.jpg">
                    <img src="assets/images/27.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/28.jpg">
                    <img src="assets/images/28.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/29.jpg">
                    <img src="assets/images/29.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/30.jpg">
                    <img src="assets/images/30.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/31.jpg">
                    <img src="assets/images/31.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/32.jpg">
                    <img src="assets/images/32.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/33.jpg">
                    <img src="assets/images/33.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/34.jpg">
                    <img src="assets/images/34.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/35.jpg">
                    <img src="assets/images/35.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/36.jpg">
                    <img src="assets/images/36.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/37.jpg">
                    <img src="assets/images/37.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/38.jpg">
                    <img src="assets/images/38.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/39.jpg">
                    <img src="assets/images/39.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/40.jpg">
                    <img src="assets/images/40.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/41.jpg">
                    <img src="assets/images/41.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/42.jpg">
                    <img src="assets/images/42.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/43.jpg">
                    <img src="assets/images/43.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/44.jpg">
                    <img src="assets/images/44.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/45.jpg">
                    <img src="assets/images/45.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/46.jpg">
                    <img src="assets/images/46.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/47.jpg">
                    <img src="assets/images/47.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/48.jpg">
                    <img src="assets/images/48.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/49.jpg">
                    <img src="assets/images/49.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/50.jpg">
                    <img src="assets/images/50.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/51.jpg">
                    <img src="assets/images/51.jpg" />
                </a>
            </div>
            <div class="magnific-img">
                <a class="image-popup-vertical-fit" href="assets/images/52.jpg">
                    <img src="assets/images/52.jpg" />
                </a>
            </div>
        </section>
        <div class="clear"></div>
    </div>
</section>