<footer class="footer">
    <div class="container">
        <div class="row justify-between">
            <div class="col-5">
                <img src="assets/images/SD Logo main.png" alt="Shakti Doors Logo">
                <p>Partner with a company dedicated to excellence in window and door installations, ensuring each project is handled with precision and care. Our commitment is to provide installations that not only meet but exceed your expectations.</p>
            </div>
            <div class="col-3">
                <h4>Quick Link</h4>
                <ul>
                    <li><a routerLink="/">Home</a></li>
                    <li><a routerLink="/about">About Us</a></li>
                    <li><a routerLink="/services">Services</a></li>
                    <li><a routerLink="/gallery">Product Gallery</a></li>
                    <li><a routerLink="/contact">Contact Us</a></li>
                </ul>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-4 contact">
                <h4>Contact Us</h4>
                <ul>
                    <li class="d-flex">
                        <i class="fa-solid fa-phone"></i>
                        <h5 class="col-10">78928 47496</h5>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-phone"></i>
                        <h5 class="col-10">90356 26296</h5>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-envelope"></i>
                        <h5 class="col-10">shaktidoorsanlaminates&#64;gmail.com</h5>
                    </li>
                    <li class="d-flex">
                        <i class="fa-solid fa-location-dot"></i>
                        <h5 class="col-10">Factory 1: Lingnoor-Kapshi Road, LINGNOOR-416235 <br>Factory 2: Sangli Fata, Near Korgavkar Petrol Pump. Tal. Kagal Dist. Kolhapur. </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>