.container {
    margin-top: 20px;
}

.logo-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

table {
    width: 70%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

img.doors {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logo {
    width: 140px;
}

.contact-link {
    text-decoration: none;
    color: black;
}

@media (max-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (max-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (max-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    table,
    .logo-container {
        width: 100%;
    }
}

@media (max-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (max-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (max-width:1281px) {
    /* hi-res laptops and desktops */
}