<!-- banner start  -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-center">
                <div class="banner-content">
                    <h2>About Us</h2>
                    <h3 class="d-flex justify-center">
                        <a routerLink="/">Home </a>&nbsp;
                        <br>
                        <a> / &nbsp; About Us</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end  -->

<!-- about section  -->
<section class="about">
    <div class="container">
        <div class="row align-center">
            <div class="col-sm-5">
                <div class="about-image">
                    <div class="main-img">
                        <img src="assets/images/about.jpg" alt="About Us Image">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-content">
                    <span>ABOUT US</span>
                    <h2>Expertise in door for every style</h2>
                    <p>Partner with a company dedicated to excellence in window and door installations, ensuring
                        each project is handled with precision and care. Our commitment is to provide installations
                        that not only meet but exceed your expectations.
                    </p>
                    <ul>
                        <li class="d-flex">
                            <div class="col-sm-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                                    <path d="M54.1127 4.19067H5.8877V55.8094H54.1127V4.19067Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M30 4.19067V55.8094" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path d="M24.2998 25.7906V33.675" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path d="M35.6719 25.7906V33.675" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                </svg>
                            </div>
                            <div class="col-sm-10">
                                <h3>Our Mission</h3>
                                <p>Delivering premium doors with innovation, reliability, and exceptional customer
                                    service</p>
                            </div>
                        </li>
                        <li class="d-flex">
                            <div class="col-sm-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                                    <path d="M51.9 4.1062H8.10938V55.8937H51.9V4.1062Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M4.59375 55.8937H55.4062" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path d="M30 4.1062V55.8937" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    <path d="M26.0158 9.24365H12.0752V50.2124H26.0158V9.24365Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M48.0285 9.24365H34.0879V50.2124H48.0285V9.24365Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </div>
                            <div class="col-sm-10">
                                <h3>Our Vision</h3>
                                <p>To be a trusted leader in high-quality, stylish, and durable door solutions.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->