<!-- banner start  -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-center">
                <div class="banner-content">
                    <h2>Our Services</h2>
                    <h3 class="d-flex justify-center">
                        <a routerLink="/">Home </a>&nbsp;
                        <br>
                        <a> / &nbsp; services</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner end  -->

<!-- service section -->
<section class="service-main">
    <div class="container">
        <div class="row">
            <div class="title d-flex align-center justify-between">
                <div class="col-sm-6">
                    <span>OUR SERVICES</span>
                    <h2>Comprehensive Window & Door Services</h2>
                </div>
                <div class="col-sm-5">
                    <p>Partner with a company dedicated to excellence in window and door installations, ensuring
                        each project is handled with precision and care.</p>
                </div>
            </div>
            <div class="services d-flex align-center">
                <div class="col-sm-4">
                    <div class="service d-flex">
                        <img src="assets/images/door.png" class="col-sm-3 col-6 m-auto" alt="Door Installation Icon">
                        <div class="service-text col-sm-9">
                            <h4>Custom Door Installation </h4>
                            <p> High-quality doors tailored to your space and design preferences.</p>
                        </div>
                    </div>
                    <div class="service d-flex">
                        <img src="assets/images/door-handle.png" class="col-sm-3 col-6 m-auto" alt="Door Replacement Icon">
                        <div class="service-text col-sm-9">
                            <h4>Door Replacement </h4>
                            <p>Upgrade old or damaged doors with secure and stylish options.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-6 m-auto">
                    <img src="assets/images/service-img.png" alt="Service Image">
                </div>
                <div class="col-sm-4">
                    <div class="service d-flex">
                        <img src="assets/images/installation.png" class="col-sm-3 col-6 m-auto" alt="Door Repair Icon">
                        <div class="service-text col-sm-9">
                            <h4>Door Repair Services</h4>
                            <p>Fixing hinges, locks, and structural issues for smooth functionality.</p>
                        </div>
                    </div>
                    <div class="service d-flex">
                        <img src="assets/images/door-sign.png" class="col-sm-3 col-6 m-auto" alt="Commercial Doors Icon">
                        <div class="service-text col-sm-9">
                            <h4>Commercial Doors</h4>
                            <p>Durable solutions for homes, offices, and commercial buildings.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="approve d-flex justify-sm-between justify-center align-center">
                <div class="col-sm-2 col-4">
                    <img src="assets/images/pngegg (1).png" alt="Partner Logo">
                </div>
                <div class="col-sm-2 col-4">
                    <img src="assets/images/pngegg.png" alt="Partner Logo">
                </div>
                <div class="col-sm-2 col-4">
                    <img src="assets/images/pngfind.com-wood-png-564952.png" alt="Partner Logo">
                </div>
                <div class="col-sm-2 col-4">
                    <img src="assets/images/pngwing.com (1).png" alt="Partner Logo">
                </div>
                <div class="col-sm-2 col-4">
                    <img src="assets/images/pngwing.com.png" alt="Partner Logo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service section -->

<!-- quesion  -->
<section class="quesion">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="quesion-img">
                    <img src="assets/images/cta-img.png" alt="">
                </div>
            </div>
            <div class="col-sm-6 pt-3 pt-sm-0">
                <div class="quesion-content">
                    <ul>
                        <li>
                            <i class="fa-solid fa-phone"></i>
                        </li>
                        <h2>Have Questions? Call us
                            78928 47496</h2>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- quesion  -->