/* You can add global styles to this file, and also import other style files */
@import '../public/assets/css/all.min.css';
@import '../public/assets/css/stylesheet.css';
@import '../public/assets/css/style.css';
@import '../public/assets/css/media.css';

:root {
    --primary-color: #00a2e6;
    --secondary-color: #e77811;
    --black-color: #090a0c;
    --white-color: #fff;
    --sub-text: #474749;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-45: 45px;
    --fs-75: 75px;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}

body {
    font-family: 'Plus Jakarta Sans';
    font-size: var(--fs-16);
    color: var(--black-color);
    --bs-body-bg: #fbfaf3 !important;
}

/* Grid system */
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

/* Utility classes */
.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

/* Base styles */
img {
    max-width: 100%;
    display: block;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}